{{!-- from public js: rendered after search button is clicked, populated by github search results --}}
{{!-- results are clickable and take the user to 'newNote' page to be viewed/saved --}}
<div>
    {{!-- {{#each result}} --}}
    <a href="/search/1"><div>
    <h1>reponame1</h1>
    <h2>github-username</h2>
    <p><a href="https://github.com/">repo-link</a>, repo description</p>
    </div></a>
    <a href="/search/2"><div>
    <h1>reponame2</h1>
    <h2>github-username</h2>
    <p><a href="https://github.com/">repo-link</a>, repo description</p>
    </div></a>
    <a href="/search/3"><div>
    <h1>reponame3</h1>
    <h2>github-username</h2>
    <p><a href="https://github.com/">repo-link</a>, repo description</p>
    </div></a>
    {{!-- {{/each}} --}}
</div>