      <div class="hero-text">
        <h1 style="font-size:8rem">GIT IDEAS</h1>
        <p>FIND YOU'RE DREAM PROJECT HERE</p>
        {{!-- {{> searchResults}} --}}
           <form class="d-flex " role="search" id="repo-search-form">
      <input class="form-control me-2" style="width: 35vw;" type="search" placeholder="Search" aria-label="Search" id="repo-search-input">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
      </div>