      <div class="hero-text">
        <h1 style="font-size:8rem">GIT IDEAS</h1>
        <p>FIND YOU'RE DREAM PROJECT HERE</p>
        <button class="btn-lg btn-primary btn">LOG IN HERE</button>
      </div>