<div>
    {{!-- displays repo information and form for submitting note with comment and tag, once saved, take user back to searchresults --}}
    <div>
        <h1>reponame</h1>
        <p></p>
    </div>
    {{!-- include back to searchresults button --}}
    <a href="/"><button class="btn btn-outline-success" id="back-to-results">Back to Results</button></a>
</div>

<script src="./js/newNote.js"></script>