{{!-- from public js: rendered after search button is clicked, populated by github search results --}}
{{!-- results are clickable and take the user to 'newNote' page to be viewed/saved --}}
<div>
    {{#each resultObject}}
    <a href="/results/1"><div>
    <h1>{{name}}</h1>
    <p><a href="#">repo-link</a>, repoDescription, language</p>
    </div></a>
    {{/each}}
</div>