body, html {
    height: 100vh;;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(18, 41, 218, 0.5), rgba(211, 146, 25, 0.5)), url("");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* centers results in a column */
.result-list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* makes result cards a bit smaller */
.result-card {
  width: 75%;
  margin: 20px;
  background: transparent !important;
}

/* makes accordion button look less weird */
.accordion-button {
  width: auto !important;
  box-shadow: none !important;
}

/* erases colors we dont want on our accordions */
* {
  --bs-accordion-bg: transparent !important;
  --bs-accordion-active-bg: transparent !important;
  --bs-accordion-btn-focus-border-color: transparent !important;
}